  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
                              <h2 class="section-heading">Why Dialphonics?</h2>
                <hr class="light">
                <p>When choosing a call center, there are several things that are extremely important to consider before making your selection.At Dialphonics, we provide you with:-</p>
<ul>
<li>Quality comes first at Dialphonics. We provide Quality customer service agents who are pleasant and polite and always represent your business in a professional manner.</li>
<li>We offer a wide variety of both outbound and inbound services, thereby providing you an integrated array of niche solutions all under one roof.</li>
<li>We provide you with quality-driven and performance-focussed customer service including a personal Account Manager to answer your questions and make sure everything runs smoothly.</li>
<li>We can provide you with off-site monitoring so you can listen to live calls from anywhere in the world.</li>
<li>We work on latest and state-of-the-art equipment, software, and technology.</li>
<li>We provide you with accurate, timely reporting.</li>
<li>We can work with your teams to personalize your entire telemarketing project to your specific requirements.</li>
<li>We can make your outbound calls during the hours that will be most effective, since our teams work 24 x 7.</li>
<li>We guarantee secrecy and confidentiality when it comes to your marketing strategies, customer lists and leads.</li>
<li>We offer realistic affordable pilot programs.</li>
<li>We can scale up or down real quickly based on your needs.</li>
</ul>

              <a href="#" class="btn btn-default btn-xl wow tada">Start Now!</a>
          </div>
      </div>
  </aside>
