<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">Our mission is to be a responsible organization around the Globe. We would like to provide maximum employment for the people .We respect the deserving employee who holds the quality. We concentrate more in the increment of quality of work and services which gives satisfaction to everyone who hold our services. We believe in customer satisfaction as our Satisfaction.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
