<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded"AIGMAA was founded with the aims and objectives of establishing a call centre which prides itself on high levels of customer service through a bespoken multi-channel approach.
The firm is comprised entirely of a highly experiences and dedicated management team which provides a fluid and dynamic leadership structure for the company as well as the ability to adapt to changing business environments where necessary. We combine the greatest workforce with the best technology to ensure quality, performance and on time delivery.
We provide you the most comprehensive suite of marketing, lead generation, inbound/ outbound calling, and digital/web-enabled services, all integrated under one roof to ensure that all your marketing campaigns and non-core business processes are taken care of with a 360 degree approach, so that you can concentrate on your core business while reducing costs and increasing bottom-line profit, while we deliver you increased revenue and delighted customer base.
</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
