<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Inbound & Outbound</h3>
                    <p class="text-muted">We run a highly functional inbound and outbound system that is set up to provide our customers a Toll Free access to call us. Via this system our customers can call us anytime 24×7, 365 days a year and talk to our qualified tech support engineers for the resolution of their software related PC & related peripheral issues..</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>CRM</h3>
                    <p class="text-muted">We provide our customers with strategic solutions for sales and marketing issues, by utilizing high-end creative solutions, as a foundation for all decisions. CRM designed by us evolves customer-centric philosophy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Dialer</h3>
                    <p class="text-muted">Dialer serves as a vital ingredient in laying the foundation of the modern outbound contact center, making it an ultimate technology of choice for telemarketing, telesales and fundraising campaigns etc. To guarantee the efficiency and the performance of your campaigns, we have integrated all the SMS, email, as well as a script and rules generator into our predictive dialer. The predictive dialer integrates a call recorder, a scripting tool, a native CTI and an IVR. Predictive dialer detects answering machines and leaves automatic messages on voice mails.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Technical Support</h3>
                    <p class="text-muted">Our technical support team consists of qualified engineers that are available 24/7 for providing expert solutions to all PC related software problems of our customers. Our technical support engineers carry good industry experience and ample knowledge which makes the quality of the service delivered by them immaculate..</p>
                </div>
            </div>
        </div>
    </div>
</section>
